.heroBanner {
    padding: 5rem 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    background: linear-gradient(145deg, var(--ifm-hero-background-color) 20%, var(--header-gradient) 100%);
    color: var(--ifm-color-gray-1000);
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.logo {
    height: auto;
    max-width: 500px;
    min-width: 300px;
    width: 32%;
}

.featuresSection {
    padding: 2rem 1rem;
    text-align: center;
}

.featuresSection h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.featuresGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.featureCard {
    font-size: 0.9em;
    background: var(--ifm-background-color);
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: 0.5em;
    padding: 1em;
    width: 16em;
    text-align: center;
    transition: all .2s ease-out;
}

.featureCard:hover {
    transform: scale(1.04);
}

.featureIcon {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    filter: grayscale(100%);
}

.featureCard:hover .featureIcon {
    filter: grayscale(0%);
}

.featureTitle {
    font-size: 1.33em;
}

.buttons {
    display: flex;
    gap: 1em;
    //justify-content: center;
}

.buttons svg {
    width: auto;
    height: 1em;
}

.githubButtonGroup {
    display: flex;
    align-items: center;
    gap: 0.3em;
}
