@import "tailwindcss/theme.css" layer(theme);
@custom-variant dark (&:where(html[data-theme="dark"] *));

.heroBanner {
    padding: 2rem;
    @apply px-4 py-[3em] lg:py-[6em];
    text-align: left;
    position: relative;
    overflow: hidden;
    color: var(--ifm-color-gray-1000);
    background: linear-gradient(135deg, color-mix(in srgb, var(--ifm-hero-background-color), transparent 95%) 50%, color-mix(in srgb, var(--ifm-hero-background-color), transparent 98%) 25%, transparent 50%);
}

.heroBanner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 90% 10%, color-mix(in srgb, var(--ifm-hero-background-color), transparent 92%), transparent 40%);
    pointer-events: none;
}

.subtitle {
    font-weight: 700;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    position: relative;
}

.subtitle::after {
    content: "";
    position: absolute;
    display: block;
    width: 1.6em;
    height: 3px;
    background: #0d83fd;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.about1 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

.featuresSection {
    padding: 2rem 1rem;
}

.featuresSection h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.featuresGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.featureCard {
    font-size: 0.9em;
    border-radius: 0.5em;
    padding: 1em;
    gap: 1em;
    transition: all .2s ease-out;
    display: flex;
}

.featureCard:hover {
    transform: scale(1.04);
}

.featureIcon {
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: color-mix(in srgb, var(--ifm-hero-background-color), transparent 92%);
}

.buttons {
    display: flex;
    gap: 1.5em;
    align-items: center;
    margin-top: 3rem;
}

.button {
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 1.2em;
    @apply
    text-white
    dark:text-gray-800
    bg-[#27272a]
    dark:bg-neutral-200
    whitespace-nowrap
    px-5
    py-1.5
    lg:px-7
    lg:py-2
    ;
}

.button:hover {
    text-decoration: none;
    color: inherit;
    @apply text-white dark:text-gray-800;
}

.githubButtonGroup {
    display: flex;
    align-items: center;
    gap: 0.3em;
}
