.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureTitle {
  display: flex;
  align-items: center;
  gap: 0.33em;
}

.featureSvg {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
}
