/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  gap: 1em;
}

.buttons svg {
  width: auto;
  height: 1em;
}

.logo
{
  min-width: 300px;
  max-width: 500px;
  width: 35%;
  height: auto;
}
